.mark-objects {
  text-align: center;
  font-size: 14px;
}

.mark-objects-item {
  padding: 5px;
  background-color: #00a0f0;
  display: inline-block;
  vertical-align: top;
  margin: 5px;
  border-radius: 5px;
}