.mark-list-item {
  padding: 15px 10px;
  font-size: 16px;
  color: #fff;
  height: auto;
  cursor: pointer;
  position: relative;
  border-top: 1px solid #ebebeb;

  &:hover {
    background-color: #ebebeb;
    color: #333;
    .mui-textfield--float-label>label {
      color: #333;
    }
    .mui-textfield--float-label>label:focus {
      color: #fff;
    }
    .mui-textfield > textarea {
      color: #333;
    }
  }

  &.active {
    background-color: #ebebeb;
  }
}

.mui-textfield > textarea {
  color: #fff;
}

.mark-list-item__img {
  background-image: url("../Mark/img/mark.png");
  width: 50px;
  height: 50px;
  background-size: contain;
  margin: auto;
}

.mark-list-item__info {
  text-align: center;
}

.delete-btn {
  width: 12px;
  height: 12px;
  display: block;
  position: absolute;
  top: 8px;
  right: 8px;
  background-image: url("img/letter-x.png");
  background-size: contain;
  opacity: 0.3;
  cursor: pointer;
  &:hover {
    opacity: 1;
  }
}