.description {
  .mui-textfield--float-label>label {
    color: #fff;
  }
}

.mui-textfield>textarea {
  min-height: 50px;
}

.mui-btn  {
  background-color: #00a0f0;

  &:hover {
    background-color: #A6D5FA;
  }
}
