.mark {
  position: relative;
  left: -20px;
  top: -40px;
  z-index: 2;
  width: 40px;
  height: 40px;
  cursor: pointer;
  background-size: contain;
  background-image: url("img/mark.png");
  transition: all .2s;
  -webkit-transition: all .2s;

  &:hover {
    width: 50px;
    height: 50px;
    left: -25px;
    top: -50px;
    z-index: 3;
    .mark__description {
      display: block;
    }
  }
}

.mark__description {
  display: none;
  position: absolute;
  right: -130px;
  top: -35px;
  width: 120px;
  padding: 5px;
  background-color: #0074D9;
  font-size: 14px;
  color: white;
  border-radius: 5px;
}